body{
  background-image: url(img/image.jpg);
  background-size: cover;
}


.title{
  font-size: 60px;
  color: white;
  text-transform: capitalize;
}

.card  {
  display: flex;
}

.container .card{
  margin-top: 2rem;
}

.cyan{
  background-color: #24838f;
}
.footer-copyright{
  background-color: #1B6972;
}
